<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Com.ZimVie.Wcs.ZWCS.Properties.Settings_Tokyo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Tokyo" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NSCW" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Dev_NETR" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NETR" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NSCW" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NETR" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Machining_Dev" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Diecasting_Dev" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NWCC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NWCC" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Machining_Test_NPTR" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Dev" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NCOT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_LocalTest_NPTR" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NCOT" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NPTR" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Com.Nidec.Mes.BPTS_V2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Com.ZimVie.Wcs.ZWCS.Properties.Settings_Tokyo>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>東京倉庫</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.204.161.9;Port=5432;UserId=postgres;Password=postgres;Database=ZWCS_2.0;CommandTimeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>Tokyo Standard Time</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.ZimVie.Wcs.ZWCS.ZwcsMainForm</value>
            </setting>
        </Com.ZimVie.Wcs.ZWCS.Properties.Settings_Tokyo>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Tokyo>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>東京倉庫</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.204.161.9;Port=5432;UserId=postgres;Password=postgres;Database=ZWCS_DEV2;CommandTimeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>Tokyo Standard Time</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.ZwcsMainForm</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Tokyo>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NSCW>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.248.11.143;Port=5432;UserId=postgres;Password=mes;Database=bpts_nscw;Command Timeout=300;</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NSCW - Actual</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainForm</value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>19:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NSCW>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Dev_NETR>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NETR - Dev</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_netr_test_database_backup_200220;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_IP" serializeAs="String">
                <value>10.64.43.45</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_PORT" serializeAs="String">
                <value>1788</value>
            </setting>
            <setting name="NETR_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_netr_test_database_backup_200220;</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainFormForMachining</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_CODE" serializeAs="String">
                <value>R001 </value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_NAME" serializeAs="String">
                <value>R001 - Warehouse</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_CODE" serializeAs="String">
                <value>L006 </value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_NAME" serializeAs="String">
                <value>L006 - Production</value>
            </setting>
            <setting name="DIECASTING_FACTORY_CONNECTION_STRINGS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NCOT:Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_diecasting_test_database_20190912;</string>
                        <string>NWCC:Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_nwcc_formal_database_backup_200214;</string>
                        <string>NSCW:</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Dev_NETR>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NETR>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NETR - Actual</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.249.1.22;Port=5432;UserId=postgres;Password=mes;Database=bpts_netr;CommandTimeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_IP" serializeAs="String">
                <value>10.249.1.22</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_PORT" serializeAs="String">
                <value>1771</value>
            </setting>
            <setting name="NETR_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.249.1.22;Port=5432;UserId=postgres;Password=mes;Database=bpts_netr;CommandTimeout=300;</value>
            </setting>
            <setting name="RFID_CONNECTION_STRING" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainFormForMachining</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_CODE" serializeAs="String">
                <value>R001</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_NAME" serializeAs="String">
                <value>R001 - Warehouse</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_CODE" serializeAs="String">
                <value>L006</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_NAME" serializeAs="String">
                <value>L006 - Production</value>
            </setting>
            <setting name="DIECASTING_FACTORY_CONNECTION_STRINGS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NCOT:Server=10.245.1.235;Port=5432;UserId=postgres;Password=mes;Database=bpts_new;</string>
                        <string>NWCC:Server=10.251.10.106;Port=5432;UserId=postgres;Password=mes;Database=bpts_nwcc;</string>
                        <string>NSCW:Server=10.248.11.143;Port=5432;UserId=postgres;Password=mes;Database=bpts_nscw;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NETR>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NSCW>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.248.11.143;Port=5432;UserId=postgres;Password=mes;Database=bpts_nscw_test;Command Timeout=300;</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NSCW - Test</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainForm</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NSCW>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NETR>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NETR - Test</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.40;Port=5432;UserId=postgres;Password=mes;Database=bpts_netr_test;CommandTimeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_IP" serializeAs="String">
                <value>10.252.1.40</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_PORT" serializeAs="String">
                <value>1770</value>
            </setting>
            <setting name="NETR_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.40;Port=5432;UserId=postgres;Password=mes;Database=bpts_netr_test;CommandTimeout=300;</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainFormForMachining</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_CODE" serializeAs="String">
                <value>R001</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_NAME" serializeAs="String">
                <value>R001 - Warehouse</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_CODE" serializeAs="String">
                <value>L006</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_NAME" serializeAs="String">
                <value>L006 - Production</value>
            </setting>
            <setting name="DIECASTING_FACTORY_CONNECTION_STRINGS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NCOT:Server=10.252.1.40;Port=5432;UserId=postgres;Password=mes;Database=bpts_ncot_test_actualdata_20190902;</string>
                        <string>NWCC:Server=10.251.10.106;Port=5432;UserId=postgres;Password=mes;Database=bpts_nwcc_test;</string>
                        <string>NSCW:</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NETR>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Machining_Dev>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>開発環境</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.204.161.9;Port=5432;UserId=postgres;Password=postgres;Database=ZWCS_DEV2;CommandTimeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>Tokyo Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:30:00</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_IP" serializeAs="String">
                <value>10.66.1.12</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_PORT" serializeAs="String">
                <value>1778</value>
            </setting>
            <setting name="NPTR_CONNECTION_STRING" serializeAs="String">
                <value>Server = 10.66.1.12; Port = 5432; UserId = postgres; Password = mes; Database = bpts_nptr_formal_database_bak_200507; CommandTimeout = 300;</value>
            </setting>
            <setting name="RFID_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.6;User Id=wh_nidec;Password=nidec1234;Database=NIDECDB;</value>
            </setting>
            <setting name="IS_LDAP_AUTHENTIFICATE_BASED_ON_LOGIN_USER" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.ZwcsMainForm</value>
            </setting>
            <setting name="DIECASTING_FACTORY_CONNECTION_STRINGS_TYPE" serializeAs="String">
                <value>DEV_AND_TEST</value>
            </setting>
            <setting name="DIECASTING_FACTORY_CONNECTION_STRINGS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NCOT:Server=10.66.1.12;Port=5432;UserId=postgres;Password=mes;Database=bpts_ncot_dev_200313;</string>
                        <string>NWCC:Server=10.66.1.12;Port=5432;UserId=postgres;Password=mes;Database=bpts_nwcc_dev_200313;</string>
                        <string>NSCW:;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_CODE" serializeAs="String">
                <value>R001</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_NAME" serializeAs="String">
                <value>R001 - Warehouse</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_CODE" serializeAs="String">
                <value>L001</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_NAME" serializeAs="String">
                <value>L001 - Production</value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:30:00</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:30:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Machining_Dev>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Diecasting_Dev>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NCOT - Dev</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.66.1.12;Port=5432;UserId=postgres;Password=mes;Database=bpts_ncot_formal_database_bak_200416a;Command Timeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>Tokyo Standard Time</value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:30:00</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainForm</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:30:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Diecasting_Dev>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NWCC>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.251.10.106;Port=5432;UserId=postgres;Password=mes;Database=bpts_nwcc;CommandTimeout=300;</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NWCC - Actual</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainForm</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>19:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NWCC>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NWCC>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NWCC - Test</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>07:00:00</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainForm</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.251.10.106;Port=5432;UserId=postgres;Password=mes;Database=bpts_nwcc_test;CommandTimeout=300;</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>19:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NWCC>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Machining_Test_NPTR>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NPTR - Test</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.30;Port=5432;UserId=postgres;Password=mes;Database=bpts_test_database_for_user_acceptance_test_190926;CommandTimeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_IP" serializeAs="String">
                <value>10.252.1.30</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_PORT" serializeAs="String">
                <value>1778</value>
            </setting>
            <setting name="NPTR_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.30;Port=5432;UserId=postgres;Password=mes;Database=bpts_test_database_for_user_acceptance_test_190926;CommandTimeout=300;</value>
            </setting>
            <setting name="RFID_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.6;User Id=wh_nidec;Password=nidec1234;Database=NIDECDB;</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainFormForMachining</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_CODE" serializeAs="String">
                <value>R001</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_NAME" serializeAs="String">
                <value>R001 - Warehouse</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_CODE" serializeAs="String">
                <value>L001</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_NAME" serializeAs="String">
                <value>L001 - Production</value>
            </setting>
            <setting name="DIECASTING_FACTORY_CONNECTION_STRINGS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NCOT:Server=10.252.1.40;Port=5432;UserId=postgres;Password=mes;Database=bpts_ncot_test_actualdata_20190902;</string>
                        <string>NWCC:Server=10.251.10.106;Port=5432;UserId=postgres;Password=mes;Database=bpts_nwcc_test;</string>
                        <string>NSCW:</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Machining_Test_NPTR>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Dev>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>Dev - 10.64.43.45</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_diecasting_test_database_20190912;Command Timeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>Tokyo Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:30:00</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainForm</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Dev>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NCOT>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.40;Port=5432;UserId=postgres;Password=mes;Database=bpts_ncot_test_actualdata_20190902;CommandTimeout=300;</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NCOT - Test</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainForm</value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test_NCOT>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_LocalTest_NPTR>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.40;Port=5432;UserId=postgres;Password=mes;Database=bpts_test2;Command Timeout=300;</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NPTR Test- 10.252.1.40</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_LocalTest_NPTR>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NCOT>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.245.1.235;Port=5432;UserId=postgres;Password=mes;Database=bpts_new;CommandTimeout=300;</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NCOT - Actual</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainForm</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NCOT>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NPTR>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>NPTR - Actual</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.30;Port=5432;UserId=postgres;Password=mes;Database=bpts_nptr;CommandTimeout=300;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>SE Asia Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_IP" serializeAs="String">
                <value>10.252.1.30</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_PORT" serializeAs="String">
                <value>1780</value>
            </setting>
            <setting name="NPTR_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.30;Port=5432;UserId=postgres;Password=mes;Database=bpts_nptr;CommandTimeout=300;</value>
            </setting>
            <setting name="RFID_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.6;User Id=wh_nidec;Password=nidec1234;Database=NIDECDB;</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainFormForMachining</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_ID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_CODE" serializeAs="String">
                <value>R001</value>
            </setting>
            <setting name="STORAGE_ISSUE_LOCATION_NAME" serializeAs="String">
                <value>R001 - Warehouse</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_ID" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_CODE" serializeAs="String">
                <value>L001</value>
            </setting>
            <setting name="STORAGE_RECEIVE_LOCATION_NAME" serializeAs="String">
                <value>L001 - Production</value>
            </setting>
            <setting name="DIECASTING_FACTORY_CONNECTION_STRINGS" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>NCOT:Server=10.245.1.235;Port=5432;UserId=postgres;Password=mes;Database=bpts_new;</string>
                        <string>NWCC:Server=10.251.10.106;Port=5432;UserId=postgres;Password=mes;Database=bpts_nwcc;</string>
                        <string>NSCW:Server=10.248.11.143;Port=5432;UserId=postgres;Password=mes;Database=bpts_nscw;</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DayShiftStartTime" serializeAs="String">
                <value>08:00:00</value>
            </setting>
            <setting name="NightShiftStartTime" serializeAs="String">
                <value>20:00:00</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual_NPTR>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_net_test;</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>Actual</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Actual>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test>
            <setting name="AUTHENTIFICATE_FLAG" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_HEADER" serializeAs="String">
                <value>Test - 10.64.43.45</value>
            </setting>
            <setting name="CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_machining_test_database_20191029;</value>
            </setting>
            <setting name="SERVER_TIME_ZONE" serializeAs="String">
                <value>Tokyo Standard Time</value>
            </setting>
            <setting name="VAYIShiftStartTime" serializeAs="String">
                <value>08:30:00</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_IP" serializeAs="String">
                <value>10.64.43.45</value>
            </setting>
            <setting name="DEFAULT_REMOTE_MES_SERVER_HOST_PORT" serializeAs="String">
                <value>1778</value>
            </setting>
            <setting name="DIECASTING_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_diecasting_test_database_20190912;</value>
            </setting>
            <setting name="NCOT_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_diecasting_test_database_20190912;</value>
            </setting>
            <setting name="NWCC_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_diecasting_dev_190903;</value>
            </setting>
            <setting name="NSCW_CONNECTION_STRING" serializeAs="String">
                <value />
            </setting>
            <setting name="NPTR_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.64.43.45;Port=5432;UserId=postgres;Password=mes;Database=bpts_machining_test_database_20190902;</value>
            </setting>
            <setting name="DIECASTING_FACTORY_CODE" serializeAs="String">
                <value>NCOT</value>
            </setting>
            <setting name="RFID_CONNECTION_STRING" serializeAs="String">
                <value>Server=10.252.1.6;User Id=wh_nidec;Password=nidec1234;Database=NIDECDB;</value>
            </setting>
            <setting name="IS_LDAP_AUTHENTIFICATE_BASED_ON_LOGIN_USER" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ApplicationTypeName" serializeAs="String">
                <value>Com.Nidec.Mes.BPTS_V2.MainFormForMachining</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings_Test>
        <Com.Nidec.Mes.BPTS_V2.Properties.Settings>
            <setting name="APPLICATION_HEADER" serializeAs="String">
                <value>ZimVie Warehouse Control System</value>
            </setting>
            <setting name="APPLICATION_ENVIRONMENT_SETTINGS" serializeAs="String">
                <value>Settings_Tokyo</value>
            </setting>
        </Com.Nidec.Mes.BPTS_V2.Properties.Settings>
    </userSettings>
</configuration>